@tailwind base;
@tailwind components;
@tailwind utilities;

.showChat {
  position: fixed; /* or absolute */
  right: 5%; /* Distance from the right */
  bottom: 5%; /* Distance from the bottom */
  padding: 10px;
}